{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": {
          "version": "3.8",
          "proposals": true
        },
        "targets": [
          "> 1%",
          "last 2 versions",
          "not dead"
        ]
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime"
    ]
  ],
  "ignore": [
    "node_modules/**"
  ]
}
